body {
        font-family: Arial, sans-serif;
        text-align: center;
        background: linear-gradient(135deg, #000000, #222222);
        color: #0aff0a;
        margin: 0;
        padding-top: 200px;
    }
    h1{
        font-size: 50px;
        color: #c2ef2f;
          
    }

    .time{
        display: inline-block;
        padding: 30px 50px;
        border: 2px solid #0aff0a;
        border-radius: 15px;
        box-shadow: 0px 0px 25px rgba(0,255,0,0.6);
        background: rgba(0,0,0,0.5);
    }

    #hours, #Minutes, #Seconds {
        font-family: "Digital", monospace;
        font-size: 80px;
        font-weight: bold;
        text-shadow: 0 0 15px #0aff0a;
    }

    button {
        font-size: 22px;
        padding: 12px 28px;
        margin: 15px;
        cursor: pointer;
        border-radius: 8px;
        border: none;
        transition: 0.3s;
        font-weight: bold;
    }

    #btnStart {
        background-color: #2ecc71;
        color: white;
    }
    #btnStart:hover {
        transform: scale(1.1);
        background-color: #1e8f50;
        box-shadow: 0 0 10px #3cff99;
    }

    #btnStop {
        background-color: #e74c3c;
        color: white;
    }
    #btnStop:hover {
        transform: scale(1.1);
        background-color: #b43329;
        box-shadow: 0 0 10px #ff6e6e;
    }
